inventory/*.ini
!inventory/example.ini
group_vars/*.yml
!group_vars/all.yml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
coverage/
*.creator.user
*.retry
*.tar.gz
devtest.conf
rubocop.json
