[Unit]
Description=piwitch webkit
Requires=sipwitchqt-server.service
After=sipwitchqt-server.service network.target

[Service]
Type=simple
User=sipwitch
Group=sipwitch
ExecStart={{rack_install_prefix}}/piwitch
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target

